
    <!DOCTYPE html>
    <html>
    <style>
    table {
    border-collapse: collapse;
    width: 100%;
    };

    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    };
    tr:nth-child(even){background-color: #f2f2f2};

    th {
    background-color: #4CAF50;
    color: white;
    };

    .dropbtn, .optionsbtn, .updatebtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    };

    .dropdown {
    position: relative;
    display: inline-block;
    };
    .updateButton {
    position: relative;
    display: inline-block;
    };
    .optionsButton {
    position: relative;
    display: inline-block;
    };

    .optionsbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    };

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    };

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    };

    .dropdown-content a:hover {background-color: #ddd;};

    .dropdown:hover .dropdown-content {display: block;};

    .dropdown:hover .dropbtn {background-color: #3e8e41;};

    .updateButton{
    visibility:visible;
    };

/* Set a style for all buttons */
    button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    };

    button:hover {
    opacity: 0.8;
    };



    </style>

    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../sorttable.js"></script>
    <script>
        $(document).ready(function(){
            $("#agfialaTbl").on("click", function(){
                jQuery.ajax({
                    type: 'GET',
                    url: '/flies/flyStocks2',
                    success: (data, textStatus, jqXHR) =>
                    { 
                        if (typeof data.redirect == 'string'){
                            window.location.replace(window.location.protocol + "//" + window.location.host + data.redirect);
                        }
                    }
                });
             
            });
        });

    </script>

    </head>
    <body>

    <div class="dropdown-content">	
        <a class="btn btn-success" id ="Select DB" href="/users/selectDB">Select DB</a>
        <a class="btn btn-success" id ="UCAD Users" href="/users/ucadUsers">UCAD Users</a>	
        <a class="btn btn-success" id ="UCAD DB" href="/users/ucadDB"> UCAD DB</a>	
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
    <table border = '1' class="table table-hover sortable">
            <caption>List of users</caption>
            <thead>
            <tr id='agfialaTbl'><th style='cursor:pointer'>ID</th>
					
					
                <th style='cursor:pointer'>Genotype (=Label)</th><th style='cursor:pointer'>Short Description</th><th style='cursor:pointer'>Stock</th><th style='cursor:pointer'>Stock.</th>
                                                    
                <th style='cursor:pointer'>Box</th><th style='cursor:pointer'>Position(A,B,C)</th><th style='cursor:pointer'>Position(1-13)</th><th style='cursor:pointer'>Status</th>
                
                <th style='cursor:pointer'>Status Comment</th><th style='cursor:pointer'>Originl User</th><th>Current User</th><th style='cursor:pointer'>Genetic Description</th>
                
                <th style='cursor:pointer'>Chromosome</th><th style='cursor:pointer'>Components and genes</th><th style='cursor:pointer'>Associated genes</th><th style='cursor:pointer'>Category</th>
                
                <th style='cursor:pointer'>Description</th><th style='cursor:pointer'>Citation (original)</th><th style='cursor:pointer'>tested</th><th style='cursor:pointer'>Phenotype</th><th style='cursor:pointer'>Comments</th>
                
                <th style='cursor:pointer'>published</th><th>Publication</th><th style='cursor:pointer'>Flybase ID</th><th style='cursor:pointer'>Flybase web link</th><th style='cursor:pointer'>Database DB</th>
                
                <th style='cursor:pointer'>Database ID</th><th style='cursor:pointer'>Stock comments</th><th>Donor</th><th style='cursor:pointer'>Donor ID</th>
                
                <th style='cursor:pointer'>Original Donor</th><th style='cursor:pointer'>Link</th>		
                
       
            </tr>
         </thead>
         <tbody>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                <td><%= data[i].ID %></td>
                <td><%= data[i]['Genotype (=Label)'] %></td> 
                <td><%= data[i]['Short description'] %></td> 
                <td><%= data[i].Stock %></td>
                <td><%= data[i]['Stock .'] %></td> 
                <td><%= data[i].Box %></td>
                <td><%= data[i]['Position (A,B,C)'] %></td> 
                <td><%= data[i]['Position (1-13)'] %></td>
                <td><%= data[i].Status %></td> 
                <td><%= data[i]['Status Comment'] %></td> 
                <td><%= data[i]['Original User'] %></td> 
                <td><%= data[i]['Current User'] %></td>  
                <td><%= data[i]['Genetic Description'] %></td> 
                <td><%= data[i]['Chromosome'] %></td> 
                <td><%= data[i]['Components and genes'] %></td> 
                <td><%= data[i]['Associated genes'] %></td> 
                <td><%= data[i]['Category'] %></td> 
                <td><%= data[i]['Description'] %></td> 
                <td><%= data[i]['Citation (original)'] %></td> 
                <td><%= data[i]['tested'] %></td> 
                <td><%= data[i]['Phenotype'] %></td> 
                <td><%= data[i]['comments'] %></td>              
                <td><%= data[i]['published'] %></td> 
                <td><%= data[i]['Publication'] %></td> 
                <td><%= data[i]['Flybase ID'] %></td> 
                <td><%= data[i]['Flybase web link'] %></td> 
                <td><%= data[i]['Database DB'] %></td> 
                <td><%= data[i]['Database ID'] %></td> 
                <td><%= data[i]['Donor'] %></td> 
                <td><%= data[i]['Donor ID'] %></td> 
                <td><%= data[i]['Stock comments'] %></td> 
                <td><%= data[i]['Original Donor'] %></td> 
                <td><%= data[i]['Link'] %></td> 
                </tr>    
            <% } %>
        </tbody>
    </table>
   
 
    
    </body>
    </html>
